.about-intro-text-container {
    margin: 10px;
    flex-direction: column;
    white-space: pre-wrap;
    text-align: left;
    font-size: 1.2em;
    font-weight: 500;
}

.about-intro-image-container {
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-align-items {
    align-items: center;
}